// utils
@import './utils/_variables';
@import './utils/_mixins';
@import './utils/_placeholders';
@import './utils/_visually-hidden';

// components

@import './components/base';
@import './components/_container';
@import './components/_header';
@import './components/logo';
@import './components/_hero';
@import './components/btn';
@import './components/features';
@import './components/what-we-do';
@import './components/our-team';
@import './components/social-links';
@import './components/clients';
@import './components/filters';
@import './components/_projects';
@import './components/footer';
@import './components/modal';
@import './components/menu';
