.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include mq(desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      width: calc(100% / 2 - 15px);
    }
    @include mq(tablet) {
      width: calc(100% / 3 - 20px);
    }
  }

  &__link {
    @include centerFlex();
    @include transition(border-color, fill);

    // width: calc(384px / 2 - 15px);
    height: 92px;
    border: 1px solid $icon-cl;
    border-radius: 4px;
    fill: $icon-cl;

    @include mq(desktop, max) {
      width: 100%;
    }
    @include mq(desktop) {
      width: 170px;
    }

    &:hover,
    &:focus {
      border-color: $btn-cl;
      fill: $btn-cl;
    }
  }
}
