.container {
  outline: 2px solid rgb(47, 89, 255);
  margin: 0 auto;
  padding: 0 15px;

  // phone screen
  @include mq(phone) {
    width: 480px;
  }

  // tablet screen
  @include mq(tablet) {
    width: 768px;
  }

  // desktop screen
  @include mq(desktop) {
    width: 1200px;
  }
}
