.filters {
  &-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;

    align-items: center;
    margin-bottom: 50px;

    @include mq(tablet) {
      justify-content: center;
      flex-wrap: nowrap;
    }
  }
}

.filter-btn {
  display: block;
  padding: 6px 25px;
  /* min-width: 130px; */

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: $main-txt-cl;
  background-color: $section-background-cl;

  transition-property: color, background-color, box-shadow;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $btn-cl;
    color: $secondary-txt-cl;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
