.footer {
  padding: 60px 0;
  background-color: $main-footer-background-cl;
}
.footer__container {
  align-items: baseline;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}

.footer__content {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  color: $secondary-txt-cl;

  @media screen and (max-width: 1199px) {
    display: block;
    margin: 0 auto;
    text-align: center;

    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.footer__title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: $secondary-txt-cl;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__social {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
  }

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}
.footer__social .social-links__item {
  fill: $secondary-txt-cl;
  background-color: $icon-bg-cl;
}

.footer__social .social-links__item:hover,
.footer__social .social-links__item:focus {
  background-color: $btn-cl;
}

.footer__subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 100%;
    max-width: 450px;

    margin-right: auto;
  }

  @include mq(desktop, max) {
    margin-top: 60px;
  }

  margin-left: auto;
}

.footer__form {
  text-align: center;

  .btn {
    display: flex;
    margin: 20px auto 0;
    min-width: 200px;
    padding-left: 28px;
    padding-right: 28px;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
    position: relative;

    .btn {
      margin: 0;
      margin-left: 12px;
    }
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: calc(24 / 14);

  @include transition(color);

  .actual-address__link {
    color: $secondary-txt-cl;
  }

  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  &__link {
    margin-top: 9px;
  }
  &__link a {
    color: $footer-txt-cl;
  }

  & :hover,
  & :focus {
    color: $btn-cl;
  }
}

.sub-input {
  width: calc(100% - 30px);
  height: 50px;

  padding: 15px 16px;
  background-color: $main-footer-background-cl;
  color: $footer-txt-cl;
  font-size: 16px;
  line-height: calc(20 / 16);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.icon-send {
  fill: $background-cl;
  margin-left: auto;
}
