.hero {
  margin: 0 auto;
  padding: 118px 0;
  height: 400px;

  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // mobile screen
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bg_mob@1x.jpg);

  // mobile screen retina
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/bg_mob@2x.jpg);
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/bg_tab@1x.jpg);

    // tablet screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg_tab@2x.jpg);
    }
  }
  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/bg_desk@1x.jpg);

    // desktop screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg_desk@2x.jpg);
    }
  }

  max-width: 1600px;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    height: 600px;
  }

  &__title {
    width: 360px;
    font-size: 26px;
    line-height: calc(42 / 26);

    margin: 0 auto;

    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-txt-cl;
    max-width: 480px;

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
}
