.our-team {
  background-color: $section-background-cl;

  .list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  .item {
    background-color: $background-cl;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__name {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: calc(19 / 16);
    font-weight: 500;
  }

  &__job {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: $additional-txt-cl;
  }
}
