.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $icon-cl;

    transition-property: background-color, fill;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      background-color: $btn-cl;
      fill: $secondary-txt-cl;
    }
  }
}
