.what-we-do {
  @media screen and (max-width: 1200px) {
    display: none;
  }

  &__items {
    position: relative;
  }

  .caption {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: $capture-bg-cl;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;

    color: $background-cl;
  }

  .list {
    display: flex;
    gap: 30px;
  }
}
