$main-txt-cl: #212121;
$additional-txt-cl: #757575;
$background-cl: #ffffff;
$btn-cl: #2196f3;
$btn-active-cl: #188ce8;
$container-cl: #eeeeee;
$logo-txt-cl: #000000;
$section-background-cl: #f5f4fa;
$secondary-txt-cl: #ffffff;
$main-footer-background-cl: #2f303a;
$icon-cl: #afb1b8;
$line-cl: #ececec;
$bg-overlay-cl: rgba(33, 150, 243, 0.9);
$form-border-cl: rgba(33, 33, 33, 0.2);
$footer-txt-cl: rgba(255, 255, 255, 0.6);
$icon-bg-cl: rgba(255, 255, 255, 0.1);
$modal-bg-cl: rgba(0, 0, 0, 0.2);
$capture-bg-cl: rgba(47, 48, 58, 0.8);

$secondary-font-family: 'Raleway', sans-serif;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// :root {
//   --main-text-color: #212121;
//   --secondary-text-color: #ffffff;
//   --background-color: #ffffff;
//   --additional-text-color: #757575;
//   --btn-color: #2196f3;
//   --btn-active-color: #188ce8;
//   --container-color: #eeeeee;
//   --logo-text-color: #000000;
//   --section-background-color: #f5f4fa;
//   --main-footer-background-color: #2f303a;
//   --icon-color: #afb1b8;
//   --line-color: #ececec;

//   --bg-overlay-color: rgba(33, 150, 243, 0.9);
//   --form-border-color: rgba(33, 33, 33, 0.2);
//   --footer-text-color: rgba(255, 255, 255, 0.6);
//   --icon-bg-color: rgba(255, 255, 255, 0.1);
//   --modal-bg-color: rgba(0, 0, 0, 0.2);
//   --capture-bg-color: rgba(47, 48, 58, 0.8);

//   --secondary-font-family: 'Raleway', sans-serif;

//   --duration: 250ms;
//   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
